<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{pageTitle}}</title>
</head>
<body>
	<h1>{{pageTitle}}</h1>
	<h3>{{screamIt lede}}</h3>
	<p>Test Verbs Here</p>
	{{> footer}}
</body>
</html>